div
	ul.pagination
		if currentPage && currentPage.previousPage
			include previous

		each page, i in pages
			if page.inLeftOuter || page.inInner || page.inRightOuter
				include page
			else if !page.previousPage.isSeparator
				include separator

		if currentPage && currentPage.nextPage
			include next
